* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
    transition: 200ms;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.container__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading__logo {
    width: 25%;
}

.heading__title {
    text-align: right;
}

.container__download {
    width: 100%;
    margin: 2vh auto;
    text-align: center;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

.download__button {
    display: inline-block;
    padding: 1% 5%;
    color: white;
    background-color: black;
    border-radius: 5px;
    text-decoration: none;
}

.download__button:hover {
    background-color: gray;
    color: white;
    text-decoration: none;
}